<%- include ../header.ejs %>

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
</style>
<div style="width: 10%;float:right;">
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
</div>
<h1>Hello Admin!!!</h1>
<br />
<br />
<!-- Trigger/Open The Modal -->
<button id="myBtn">Add New Product</button> <br /><br />

<%if (typeof customMessageClass != 'undefined' && typeof customMessage != 'undefined') { %>
    <div class="alert <%= customMessageClass %>">
        <%- customMessage %>
    </div>
<% } %>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Add a new product</h2>
        </div>
        <div class="modal-body">
            <form method="post" id="productF" action="/admin/dashboard">
                <input type="hidden" name="productID" id="productID">
                Product Name : <input type="text" id="productName" name="productName" ><br /><br />
                Product Cost : <input type="text" id="productCost" name="productCost"><br /><br />
                Is Avaliable : <input type="radio" name="IsAvaliable" id="IsAvaliableYes" value="true" checked> YES <input type="radio" name="IsAvaliable" id="IsAvaliableNo" value="false"> NO <br /><br />
                <input type="submit" value="SAVE">
            </form>
        </div>
        <!--<div class="modal-footer">-->
            <!--<h3>Modal Footer</h3>-->
        <!--</div>-->
    </div>

</div>

<% if(typeof errorMessage !='undefined') {%>
    <div class="alert alert-danger">
        <%= errorMessage %>
    </div>
<%} %>

<% if(typeof successMessage !='undefined') {%>
<div class="alert alert-success">
    <%= successMessage %>
</div>
<%} %>

<% var productSRNum = 1; if(typeof productList !='undefined') {%>
    <table id="productTable" border="1" >
        <thead>
        <th>
            Sr Num
        </th>
        <th>
            Name
        </th>
        <th>
            Cost
        </th>
        <th>
            Is Available
        </th>
        <th>
            Update
        </th>
        <th>
            Delete
        </th>
        </thead>
        <% productList.forEach(function(product) { %>
        <tr>
            <td><%= productSRNum++; %></td>
            <td><%= product.productName %></td>
            <td><%= product.productCost %></td>
            <td><%= product.IsAvaliable %></td>
            <td><button onclick="editProduct('<%= product._id %>','<%= product.productName %>',<%= product.productCost %>,<%= product.IsAvaliable %>);">Update</button> </td>
            <td><button onclick="deleteProduct('<%= product._id %>','<%= product.productName %>');">Delete</button></td>
        </tr>
        <% }); %>
    </table>
<%} %>
<script>
    $(document).ready(function(){
        $('#productTable').DataTable();
    });

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    };

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        $('#productName').prop("readonly", false);
        $('#productID').val("");
        $('#productF')[0].reset();
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            $('#productName').prop("readonly", false);
            $('#productID').val("");
            $('#productF')[0].reset();
            modal.style.display = "none";
        }
    };
    
    function deleteProduct(productID,productName) {
        if(confirm("Are you sure you want to delete " + productName)){
            $('#productID').val(productID);
            $('#productF')[0].submit();
        }
    }
    
    function editProduct(productID,productName,productCost,IsAvaliable) {
        $('#productID').val(productID);
        $('#productName').val(productName).prop("readonly", true);
        $('#productCost').val(productCost);
        if(IsAvaliable){
            $('#IsAvaliableYes').prop("checked", true);
        } else $('#IsAvaliableNo').prop("checked",true);
        modal.style.display = "block";
    }
    
</script>
<%- include ../footer.ejs %>