<%- include header.ejs %>

       <form method="POST">
       <h2 style="text-align:center"><%= userName %></h2>
           <div class="container">
                <label><b>New Password : </b></label>
                <input type="password" placeholder="New Password" name="password" id="password" required>

                <br /><br />

                <label><b>Confirm Password : </b></label>
                <input type="password" placeholder="Confirm Password" name="cnfPassword" id="cnfPassword" required>

                <br /><br />
                
                <button type="submit">Reset Password</button> <a href="/login">back to login!</a>  
                <br /> <br />
                <% if (typeof successMessage != 'undefined') { %>
                    <div class="alert alert-success">
                        <%- successMessage %>
                    </div>
                <% } %>
                <% if (typeof errorMessage != 'undefined') { %>
                    <div class="alert alert-danger">
                        <%- errorMessage %>
                    </div>
                <% } %>
            </div>
        </form>

<%- include footer.ejs %>