<%- include ../header.ejs %>
<div class="container">

    <div style="width: 10%;float:right;">
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </div>

    <%if(typeof cartCount != 'undefined'){%>
    <div style="width: 130px;float:right;">
        <a href="/customer/cart">
            <span style="font-size: 30px !important;position: relative;left: 10px"><%= cartCount%></span>
            <img src="/images/customer/shopping-cart.jpg" style="width: 100;height: 100;">
        </a>
    </div>
    <%}%>

    <h1>Hello Normal User!!!</h1>

</div>
<%if (typeof customMessageClass != 'undefined' && typeof customMessage != 'undefined') { %>
<div class="alert <%= customMessageClass %>">
    <%- customMessage %>
</div>
<% } %>


<% if(typeof productList !='undefined') { %>
    <div class="container">
        <% for(var i=0; i<productList.length; i++) {%>
            <%if(i%3==0){%>
                <%if(i!=0){%>
                    </div><br /><br />
                <%}%>
                <div class="row">
            <%}%>
            <div class="col-md-3" >
                <h2><%= productList[i].productName %></h2>
                <h2>Cost : <%= productList[i].productCost %></h2>
                <% if (productList[i].IsAvaliable){%>
                    <% if(cartProducts.indexOf(productList[i].id) > -1) {%>
                        <h2 style="color:green">Added to Cart</h2>
                    <%} else {%>
                        <form action="/customer/main" method="post">
                            <input type="hidden" name="productIDATC" id="<%= productList[i]._id %>" value="<%= productList[i]._id %>">
                            <input type="submit" value="+ Add To Cart">
                        </form>
                    <%}%>
                <%} else {%>
                    <h2 style="color:red">Out of Stock</h2>
                <%}%>
            </div>
        <% } %>
        </div>
    </div>
<%}  else {%>
    <div class="container">
        <div class="alert alert-danger">
            <strong>Sorry !!! </strong> There are no products to display.
        </div>
    </div>
<%}%>

<br />
<%- include ../footer.ejs %>